body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url('../images/cyber-monday-shopping-sales.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.quotes-container {}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.features-container {}

/* navabar styling */

/* page header */
.page-header {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    background-color: #ffc107;
}

.page-header h2 {
    margin-top: 0;
}

/* page header END */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
}

.navbar-brand {
    font-weight: bolder;
}

/* content container */
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* jumbotron */
.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    color: #ffffff;  
    margin: 25px 0;
}

.jumbotron-header {
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 25px;

}
/* block divider */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #ffc107;
}

.block-divider--yellow {
    background-color: #ffc107;
}




